[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
freezegun = "*"

[packages]
django = "*"
psycopg2-binary = "*"
django-widget-tweaks = "*"
django-extra-views = "*"
django-crispy-forms = "*"
pytest-django = "*"
django-utils-six = "*"
weasyprint = "*"
xhtml2pdf = "*"
reportlab = "*"
gunicorn = "*"
whitenoise = "*"
dj-database-url = "*"
python-dotenv = "*"
django-easy-pdf = "*"
django-bootstrap3 = "*"
django-pure-pagination = "*"
django-popcrud = "*"
django-popupcrud = "==0.12.0"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = false
