{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block linkStyle %}
<link rel="stylesheet" href="{% static 'general/css/styleGeneralHome.css' %}">
{% endblock %}
{% block title %}Liste des clients{% endblock %}
{% block content %}
<div class="container row col-11 m-4">
    <div class="container">
        <div class="row col-12 d-flex justify-content-between">
            <div class="card bg-primary text-white mb-4 col-md-3">
                <div class="card-header"><h6 class="text-center">Nombre de Clients</h6></div>
                <div class="card-body"><h5 class="text-center">{{ nb_clients }}</h5></div>

            </div>
            <div class="card bg-secondary text-white mb-4 col-md-3">
                <div class="card-header"><h6 class="text-center">Total des commandes</h6></div>
                <div class="card-body"><h5 class="text-center">{{ total_commandes}}€</h5></div>

            </div>
            <div class="card bg-success text-white mb-4 col-md-3">
                <div class="card-header"><h6 class="text-center">Nb commandes</h6></div>
                <div class="card-body"><h5 class="text-center">{{ nb_commandes }}</h5></div>

            </div>
        </div>

    </div>

        <div class="row col-md-12 d-flex flex-row justify-content-between  flex-md-wrap">
        <div class="form-inline col-8 col-md-5 my-3">
         <input class="form-control col-8 col-md-6" type="search" id="search_client" placeholder="Rechercher" aria-label="Search">
          <button class="btn btn-outline-success col-4 col-md-4" id="search_1" type="submit">Rechercher</button>
            <button class="btn btn-outline-success col-4 col-md-3" id="search_2"type="submit"><i class="fas fa-search"></i></button>

        </div>
        <div class="col-3 col-md-6 my-3 d-flex justify-content-end">
        <a href="{% url 'create_client' %}" id="add_1"><button class=" btn btn-success"><i class="fas fa-plus"></i> Ajouter un Client</button></a>
        <a href="{% url 'create_client' %}" id="add_2" ><button class=" btn btn-success"><i class="fas fa-plus"></i></button></a>
        </div>
        </div>
    <div class="table-responsive">
    {% include "general/table_clients.html" %}
    </div>




    </div>
{% endblock %}
{% block linkScript %}
<script src="{% static 'general/js/scriptGeneral.js' %}"></script>
{% endblock %}